<p>
  file-rights works!
</p>

<h2>{{file.name}} user rights modification </h2>

<!-- <section class="userselection">
    <form [formGroup]="myForm">
        <div *ngFor="let user of users">
          <input type="checkbox" (change)="onChange(user.pubKey, $event.target.checked)"> {{user.login}}<br>
        </div>
      </form>
</section>
<button (click)="changeUserRights()">Validate</button>

<pre>Form values: {{myForm.value | json}}</pre> -->

    <!-- <input type="button" id="user1" name="user" (click)="changeUserRights()">
    <label for="user1">u1</label> -->

    <!-- <div *ngFor="let user of users">
      <input type="checkbox" id="subscribeNews" name="user" value="{{user.pubKey}}">
      <label for="subscribeNews">{{user.login}}</label>
    </div> -->
    <!-- <div>
      <button (click)="addU1()" >Add U1</button>
      <button (click)="removeU1()" >Remove U1</button>
    </div> -->
    <div>
        <button (click)="addU2()">Add U2</button>
        <button (click)="removeU2()">Remove U2</button>
      </div>