<h1> Welcome to the user page! You can upload your files here</h1>

<button (click)="clean();">
  Clean Drive
</button>


<h2>Uploaded Files</h2>
<ul class="files">
  <li *ngFor="let file of files" [class.selected]="file === selectedFile" (click)="onSelect(file)">
    {{file.name}}
  </li>
</ul>

<div *ngIf="selectedFile">

  <h2>{{selectedFile.name | uppercase}} Details</h2>
  <div><span>File id: </span>{{selectedFile.fileId}}</div>
  <div><span>Key id: </span>{{selectedFile.keyId}}</div>
  <button (click)="delete(selectedFile.name);">
    Delete File
  </button>
  <button (click)="download(selectedFile.name);">
    Download File
  </button>
  <a routerLink="/cli/file-rights/{{selectedFile.name}}">Change user rights</a>
</div>
<div class="upload">
  <app-upload></app-upload>
</div>