<h1> Welcome to the user page! You can upload your files here</h1>

<div class="dropzone">
  <div class="text-wrapper">
    <div class="centered">Drop your file here!</div>
    <button (click)="create();">
      createTest
    </button>
    <button (click)="delete();">
      deleteTest
    </button>
    <button (click)="list();">
      listTest
    </button>
    <button (click)="clean();">
      cleanTest
    </button>
    <button (click)="download();">
      downloadTest
    </button>
  </div>
</div>
