<h1> Welcome to the user page! You can upload your files here</h1>

<button (click)="clean();">
  Clean Drive
</button>


<h2>Uploaded Files</h2>
<ul class="files">
  <li *ngFor="let file of files" [class.selected]="file === selectedFile" (click)="onSelect(file)">
    {{file.name}}
  </li>
</ul>

<div *ngIf="isSelected">
  <button (click)="delete(selectedFile.name);" class="delete">
    Delete File
  </button>
  <button (click)="download(selectedFile.name);" class="download">
    Download File
  </button>
  <a routerLink="/cli/file-rights/{{selectedFile.name}}">
    <button class="access">
      Change user rights
    </button>
  </a>
</div>
<div class="upload">
  <app-upload></app-upload>
</div>